<!--&lt;!&ndash; ##### Header Area Start ##### &ndash;&gt;-->
<!--<header class="header_area sticky">-->
  <!--<div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">-->
    <!--&lt;!&ndash; Classy Menu &ndash;&gt;-->
    <!--<nav class="classy-navbar" id="essenceNav">-->
      <!--&lt;!&ndash; Logo &ndash;&gt;-->
      <!--<a routerLink="/auth" class="nav-brand" href="#"><img src="../../assets/img/core-img/Logo-TOORKEE-NOIR.png" alt="" style="height: 60px"></a>-->
      <!--&lt;!&ndash; Navbar Toggler &ndash;&gt;-->
      <!--<div class="classy-navbar-toggler">-->
        <!--<span class="navbarToggler"><span></span><span></span><span></span></span>-->
      <!--</div>-->
      <!--&lt;!&ndash; Menu &ndash;&gt;-->
      <!--<div class="classy-menu">-->
        <!--&lt;!&ndash; close btn &ndash;&gt;-->
        <!--<div class="classycloseIcon">-->
          <!--<div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>-->
        <!--</div>-->
        <!--&lt;!&ndash; Nav Start &ndash;&gt;-->
        <!--<div class="classynav">-->
          <!--<ul>-->
            <!--<li><a id="userCartBtn4" href="#">Showroom</a>-->
              <!--<div class="megamenu">-->
                <!--<ul class="single-mega cn-col-4">-->
                  <!--<li class="card-header" style="height: 50px;margin-bottom: 4%">Collection Homme</li>-->
                  <!--<li class="card-header" style="height: 35px;;margin-bottom: 2%">Moderne</li>-->
                  <!--<li><a href="#">Manche Veste</a></li>-->
                  <!--<li><a href="#">Toorkee</a></li>-->
                  <!--<li><a href="#">Faux Toorkee</a></li>-->
                  <!--<li class="card-header" style="height: 35px;;margin-bottom: 2%">Traditionnel</li>-->
                  <!--<li><a href="#">Grand Boubou</a></li>-->
                  <!--<li><a href="#">Simple</a></li>-->
                  <!--<li><a href="#">Toorkee Tradi</a></li>-->
                <!--</ul>-->
                <!--<ul class="single-mega cn-col-4">-->
                  <!--<li class="card-header" style="height: 50px;margin-bottom: 4%">Collection Femme</li>-->
                  <!--<li class="card-header" style="height: 35px;;margin-bottom: 2%">Moderne</li>-->
                  <!--<li><a href="#">Robes Vestes</a></li>-->
                  <!--<li><a href="#">Toorkee</a></li>-->
                  <!--<li><a href="#">Faux Toorkee</a></li>-->
                  <!--<li  class="card-header" style="height: 35px;;margin-bottom: 2%">Traditionnel</li>-->
                  <!--<li><a href="#">Robes</a></li>-->
                  <!--<li><a href="#">Taille Maam</a></li>-->
                  <!--<li><a href="#">Taille Basse</a></li>-->
                <!--</ul>-->
                <!--<ul class="single-mega cn-col-4">-->
                  <!--<li class="card-header" style="height: 50px;margin-bottom: 4%">Collection Enfant</li>-->
                  <!--<li><a href="#">Manches Vestes</a></li>-->
                  <!--<li><a href="#">Toorkee</a></li>-->
                  <!--<li><a href="#">Faux Toorkee</a></li>-->

                <!--</ul>-->
                <!--<div class="single-mega cn-col-4">-->
                  <!--<img src="../../assets/img/core-img/Logo-TOORKEE-NOIR.png" alt="">-->
                <!--</div>-->
              <!--</div>-->
            <!--</li>-->
            <!--&lt;!&ndash;<li><a routerLink="/contact" href="#">Contact</a></li>&ndash;&gt;-->
          <!--</ul>-->
        <!--</div>-->

        <!--&lt;!&ndash; Nav End &ndash;&gt;-->
      <!--</div>-->
    <!--</nav>-->

    <!--&lt;!&ndash; Header Meta Data &ndash;&gt;-->
    <!--<div class="header-meta d-flex clearfix justify-content-end">-->
      <!--&lt;!&ndash; Search Area &ndash;&gt;-->
      <!--&lt;!&ndash;<div class="search-area">&ndash;&gt;-->
      <!--&lt;!&ndash;<form action="#" method="post">&ndash;&gt;-->
      <!--&lt;!&ndash;<input type="search" name="search" id="headerSearch" placeholder="Rechercher">&ndash;&gt;-->
      <!--&lt;!&ndash;<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>&ndash;&gt;-->
      <!--&lt;!&ndash;</form>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash; Favourite Area &ndash;&gt;-->
      <!--<div class="cart-area">-->
        <!--<a href="#" id="userCartBtn"><i class="fa fa-user-o fa-2x"></i></a>-->
      <!--</div>-->


    <!--</div>-->

  <!--</div>-->
<!--</header>-->
<!-- ##### Header Area End ##### -->

<!-- ##### Right Side Cart Area ##### -->
<div class="usercart-bg-overlay"></div>

<!-- ##### Right Side Cart Area ##### -->
<div class="cart-bg-overlay"></div>

<!--<div class="user-side-cart-area">-->

  <!--&lt;!&ndash; Cart Button &ndash;&gt;-->
  <!--<div class="cart-button">-->
    <!--<a href="#" id="userSideCart"><i class="fa fa-user-o fa-2x"></i></a>-->
  <!--</div>-->

  <!--<div class="cart-content d-flex">-->

    <!--&lt;!&ndash; Cart Summary &ndash;&gt;-->
    <!--<div class="cart-amount-summary">-->
      <!--<div class="login" id="loginModal">-->
        <!--<div class="modal-dialog login animated">-->
          <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
              <!--<h4 class="modal-title">Connectez-vous avec : </h4>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
              <!--<div class="box">-->
                <!--<div class="content">-->
                  <!--<div class="social">-->
                    <!--<a class="circle github" href="/auth/github">-->
                      <!--<i class="fa fa-github fa-fw"></i>-->
                    <!--</a>-->
                    <!--<a id="google_login" class="circle google" href="/auth/google_oauth2">-->
                      <!--<i class="fa fa-google-plus fa-fw"></i>-->
                    <!--</a>-->
                    <!--<a id="facebook_login" class="circle facebook" href="/auth/facebook">-->
                      <!--<i class="fa fa-facebook fa-fw"></i>-->
                    <!--</a>-->
                  <!--</div>-->
                  <!--<div class="division">-->
                    <!--<div class="line l"></div>-->
                    <!--<span>or</span>-->
                    <!--<div class="line r"></div>-->
                  <!--</div>-->
                  <!--<div class="error"></div>-->
                  <!--<div class="form loginBox p-2">-->
                    <!--<form #f1="ngForm" (ngSubmit)="login(f1.value)">-->
                      <!--<div class="form-group">-->
                        <!--<div class="">-->
                          <!--<input id="email0" type="email" class="form-control" name="email0"  placeholder="Email" required ngModel autofocus>-->
                        <!--</div>-->
                      <!--</div>-->

                      <!--<div class="form-group">-->
                        <!--<div class="">-->
                          <!--<input id="password0" type="password" class="form-control" name="password0" placeholder="Mot de passe" ngModel required>-->
                        <!--</div>-->
                      <!--</div>-->

                      <!--<div class="form-group">-->
                        <!--<div class="pl-5">-->
                          <!--<div class="checkbox">-->
                            <!--<label>-->
                              <!--<input type="checkbox" name="remember"> Remember Me-->
                            <!--</label>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->

                      <!--<div class="form-group">-->
                        <!--<div class="">-->
                          <!--<button class="btn btn-default btn-login" type="submit" >Se connecter</button>-->

                          <!--<a class="btn btn-link" href="#">-->
                            <!--Mot de passe oublié?-->
                          <!--</a>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</form>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="box">-->
                <!--<div class="content registerBox" style="display:none;">-->
                  <!--<div class="form" >-->
                    <!--<form  #f2="ngForm" (ngSubmit)="register(f2.value)" >-->

                      <!--<div class="form-group">-->
                        <!--<div class="">-->
                          <!--<input id="name" type="text" class="form-control" name="nom" value="" ngModel placeholder="Nom" required autofocus>-->
                        <!--</div>-->
                      <!--</div>-->

                      <!--<div class="form-group">-->
                        <!--<div class="">-->
                          <!--<input id="prenom" type="text" class="form-control" name="prenom" value="" ngModel placeholder="Prénom" required autofocus>-->
                        <!--</div>-->
                      <!--</div>-->

                      <!--<div class="form-group">-->
                        <!--<div class="">-->
                          <!--<input id="email1" type="email" class="form-control" name="email1" value="" ngModel placeholder="Email" required>-->
                        <!--</div>-->
                      <!--</div>-->

                      <!--<div class="form-group">-->
                        <!--<div class="">-->
                          <!--<input id="password1" type="password" class="form-control" name="password1" ngModel  placeholder="Mot de passe" required>-->
                        <!--</div>-->
                      <!--</div>-->

                      <!--<div class="form-group">-->
                        <!--<div class="">-->
                          <!--<input id="password-confirm" type="password" class="form-control" name="password_confirmation" placeholder="Confirmer mot de passe" required>-->
                        <!--</div>-->
                      <!--</div>-->


                      <!--<div class="form-group">-->
                        <!--<div class="">-->
                          <!--<input id="tel" type="number" class="form-control" name="tel" value="" ngModel placeholder="Tel" required>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="form-group">-->
                        <!--<div class="">-->
                          <!--<input id="datenaiss" type="date" class="form-control" name="Date" value="" ngModel placeholder="Date de naissance" required>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="form-group">-->
                        <!--<div class="">-->
                          <!--<button class="btn btn-default btn-login" type="submit" >S'inscrire</button>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</form>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
              <!--<div class="forgot login-footer">-->
                            <!--<span>Vous cherchez à-->
                                 <!--<a href="javascript: showRegisterForm();">Crer un compte</a>-->
                            <!--?</span>-->
              <!--</div>-->
              <!--<div class="forgot register-footer" style="display:none">-->
                <!--<span>Vous avez déjà un compte?</span>-->
                <!--<a href="javascript: showLoginForm();">S'identifier</a>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->




<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb_area bg-img" style="background-image: url(../../../assets/img/bg-img/undercol.jpg);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="page-title text-center">
          <h2>Présentation de la marque</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Shop Grid Area Start ##### -->
<section class="shop_grid_area hr section-padding-80"  >
  <div class="container">
    <div class="row presentation">
      <div class="img col-sm-12 col-lg-4"></div>
      <div class="texte-presentation blockquote text-center  col-sm-12 col-lg-8">
        <!--<span class="card-title" style="text-align: center;bottom: 25%;font-size: 45px">Toorkee</span>-->
        <div style="font-size: 15px; justify-content: center; font-family: ubuntu,sans-serif">
          <STRONG>TOORKEE</STRONG> est une marque de couture à la personnalité de chacun dédiée aux  <strong> tenues sur mesure</strong>  qui allie savoir-faire et innovation. Dessinée et travaillée avec beaucoup de finesse, la tenue Toorkee est <strong>d’inspiration africaine</strong> et s’accorde parfaitement <strong>aux tendances modernes</strong>.
          <br> L’habit est confectionné avec délicatesse, réalisé avec une authenticité et livré dans les délais certifiant une distinction et une originalité incontestable.
          <br>
          La tenue <STRONG>TOORKEE</STRONG> se distingue par :
        <ul class="list-group-item">
          <li class="">
            La qualité du choix des tissus
          </li>
          <li>
            Le style et le design uniques pour des modèles personnalisés.
          </li>
          <li>
            La couture soignée prenant en compte toutes les préférences
          </li>
        </ul>
        </div>
        <hr>
        </div>
    </div>

    <hr>

      <!--##### New Arrivals Area Start ##### -->
      <section class="new_arrivals_area">

        <div class="container">
          <div class="row" >
            <div class="col-12" style="align-items: center">
              <div class=" popular-products-slides owl-carousel">

                <!-- Single Product -->
                <div class="single-product-wrapper">
                  <!-- Product Image -->
                  <div class="product-img">
                    <img src="../../assets/img/product-img/1.jpg" alt="">
                    <!-- Hover Thumb -->
                    <img class="hover-img" src="../../assets/img/product-img/2.jpg" alt="">
                    <!-- Favourite -->
                  </div>
                  <!-- Product Description -->
                  <div class="product-description">
                    <span>topshop</span>
                    <a href="single-product-details.html">
                      <h6>Knot Front Mini Dress</h6>
                    </a>


                    <!-- Hover Content -->
                    <div class="hover-content">
                      <!-- Add to Cart -->
                      <div class="add-to-cart-btn">

                      </div>
                    </div>
                  </div>
                </div>

                <!-- Single Product -->
                <div class="single-product-wrapper">
                  <!-- Product Image -->
                  <div class="product-img">
                    <img src="../../assets/img/product-img/5.jpg" alt="">
                    <!-- Hover Thumb -->
                    <img class="hover-img" src="../../assets/img/product-img/6.jpg" alt="">
                    <!-- Favourite -->
                    <div class="product-favourite">

                    </div>
                  </div>
                  <!-- Product Description -->
                  <div class="product-description">
                    <span>topshop</span>
                    <a href="single-product-details.html">
                      <h6>Poplin Displaced Wrap Dress</h6>
                    </a>


                    <!-- Hover Content -->
                    <div class="hover-content">
                      <!-- Add to Cart -->
                      <div class="add-to-cart-btn">

                      </div>
                    </div>
                  </div>
                </div>

                <!-- Single Product -->
                <div class="single-product-wrapper">
                  <!-- Product Image -->
                  <div class="product-img">
                    <img src="../../assets/img/product-img/1.jpg" alt="">
                    <!-- Hover Thumb -->
                    <img class="hover-img" src="../../assets/img/product-img/2.jpg" alt="">
                    <!-- Favourite -->
                  </div>
                  <!-- Product Description -->
                  <div class="product-description">
                    <span>topshop</span>
                    <a href="single-product-details.html">
                      <h6>Knot Front Mini Dress</h6>
                    </a>


                    <!-- Hover Content -->
                    <div class="hover-content">
                      <!-- Add to Cart -->
                      <div class="add-to-cart-btn">

                      </div>
                    </div>
                  </div>
                </div>

                <!-- Single Product -->
                <div class="single-product-wrapper">
                  <!-- Product Image -->
                  <div class="product-img">
                    <img src="../../assets/img/product-img/5.jpg" alt="">
                    <!-- Hover Thumb -->
                    <img class="hover-img" src="../../assets/img/product-img/6.jpg" alt="">
                    <!-- Favourite -->
                    <div class="product-favourite">

                    </div>
                  </div>
                  <!-- Product Description -->
                  <div class="product-description">
                    <span>topshop</span>
                    <a href="single-product-details.html">
                      <h6>Poplin Displaced Wrap Dress</h6>
                    </a>


                    <!-- Hover Content -->
                    <div class="hover-content">
                      <!-- Add to Cart -->
                      <div class="add-to-cart-btn">

                      </div>
                    </div>
                  </div>
                </div>

                <!--&lt;!&ndash; Single Product &ndash;&gt;-->
                <!--<div class="single-product-wrapper">-->
                <!--&lt;!&ndash; Product Image &ndash;&gt;-->
                <!--<div class="product-img">-->
                <!--<img src="../../assets/img/bg-img/CM11-257.jpg" alt="">-->
                <!--&lt;!&ndash; Hover Thumb &ndash;&gt;-->
                <!--<img class="hover-img" src="../../assets/img/bg-img/CM11-191.jpg" alt="">-->

                <!--&lt;!&ndash; Product Badge &ndash;&gt;-->


                <!--&lt;!&ndash; Favourite &ndash;&gt;-->
                <!--<div class="product-favourite">-->

                <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; Product Description &ndash;&gt;-->
                <!--<div class="product-description">-->
                <!--<span>mango</span>-->
                <!--<a href="single-product-details.html">-->
                <!--<h6>PETITE Crepe Wrap Mini Dress</h6>-->
                <!--</a>-->


                <!--&lt;!&ndash; Hover Content &ndash;&gt;-->
                <!--<div class="hover-content">-->
                <!--&lt;!&ndash; Add to Cart &ndash;&gt;-->
                <!--<div class="add-to-cart-btn">-->

                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->

                <!--&lt;!&ndash; Single Product &ndash;&gt;-->
                <!--<div class="single-product-wrapper">-->
                <!--&lt;!&ndash; Product Image &ndash;&gt;-->
                <!--<div class="product-img">-->
                <!--<img src="../../assets/img/bg-img/CM11-191.jpg" alt="">-->
                <!--&lt;!&ndash; Hover Thumb &ndash;&gt;-->
                <!--<img class="hover-img" src="../../assets/img/bg-img/CM11-32.jpg" alt="">-->

                <!--&lt;!&ndash; Product Badge &ndash;&gt;-->


                <!--&lt;!&ndash; Favourite &ndash;&gt;-->
                <!--<div class="product-favourite">-->

                <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; Product Description &ndash;&gt;-->
                <!--<div class="product-description">-->
                <!--<span>mango</span>-->
                <!--<a href="single-product-details.html">-->
                <!--<h6>PETITE Belted Jumper Dress</h6>-->
                <!--</a>-->


                <!--&lt;!&ndash; Hover Content &ndash;&gt;-->
                <!--<div class="hover-content">-->
                <!--&lt;!&ndash; Add to Cart &ndash;&gt;-->
                <!--<div class="add-to-cart-btn">-->

                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
              </div>
            </div>
          </div>
        </div>
        <div class="header-meta d-flex clearfix justify-content-center">
          <div class="cart-area">
            <a onclick="location.reload()" routerLink="/auth" href="#" class="btn btn-block"><i class="fa fa-arrow-circle-left fa-1x mr-1"></i>Retour</a>
          </div>
          <div class="cart-area">
            <a onclick="location.reload()" routerLink="/touteslescollections"  href="#" class="btn btn-block"><i class="fa fa-cart-arrow-down fa-1x mr-1"></i>Commander</a>
          </div>
          <div class="cart-area">
            <a href="#" id="userCartBtn2" class="btn btn-block"><i class="fa fa-sign-in fa-1x mr-1"></i>S'identifier ou créer un compte</a>
          </div>
        </div>
      </section>
      <!--##### New Arrivals Area End #####-->
    </div>


</section>
<!-- ##### Shop Grid Area End ##### -->



<!--<footer  class="footer_area clearfix">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--&lt;!&ndash; Single Widget Area &ndash;&gt;-->
      <!--<div class="col-12 col-md-6">-->
        <!--<div class="single_widget_area d-flex mb-30">-->
          <!--&lt;!&ndash; Logo &ndash;&gt;-->
          <!--<div class="footer-logo mr-50">-->
            <!--<a routerLink="accueil" href="#"><img src="../../assets/img/core-img/Logo-TOORKEE-BLANC.png" alt=""></a>-->
          <!--</div>-->
          <!--&lt;!&ndash; Footer Menu &ndash;&gt;-->
          <!--<div class="footer_menu"  style="margin-top: 25px">-->
            <!--<ul>-->
              <!--<li><a id="userCartBtn3" href="#">Showroom</a></li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; Single Widget Area &ndash;&gt;-->
      <!--<div class="col-12 col-md-6">-->
        <!--<div class="single_widget_area mb-30">-->
          <!--<ul class="footer_widget_menu"  style="margin-top: 28px">-->
            <!--<li><a href="#">Order Status</a></li>-->
            <!--<li><a href="#">Payment Options</a></li>-->
            <!--<li><a href="#">Shipping and Delivery</a></li>-->
            <!--<li><a href="#">Guides</a></li>-->
            <!--<li><a href="#">Privacy Policy</a></li>-->
            <!--<li><a href="#">Terms of Use</a></li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="row align-items-end">-->
      <!--&lt;!&ndash; Single Widget Area &ndash;&gt;-->
      <!--&lt;!&ndash; Single Widget Area &ndash;&gt;-->
      <!--<div class="col-12 col-md-6">-->
        <!--<div class="single_widget_area">-->
          <!--<div class="footer_social_area">-->
            <!--<a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>-->
            <!--<a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>-->
            <!--<a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="row mt-5">-->
      <!--<div class="col-md-12 text-center">-->
        <!--<p>-->
          <!--&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
          <!--Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="" target="_blank">B-smart</a>-->
          <!--&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
        <!--</p>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
<!--</footer>-->

