
<!-- ##### Right Side Cart Area ##### -->
<div class="usercart-bg-overlay"></div>

<div class="cart-bg-overlay"></div>

<!--<div class="user-side-cart-area">-->

  <!--&lt;!&ndash; Cart Button &ndash;&gt;-->
  <!--<div class="cart-button">-->
    <!--<a href="#" id="userSideCart"><i class="fa fa-user-o fa-2x"></i></a>-->
  <!--</div>-->

  <!--<div class="cart-content d-flex">-->

    <!--&lt;!&ndash; Cart Summary &ndash;&gt;-->
    <!--<div class="cart-amount-summary">-->
      <!--<div class="login" id="loginModal">-->
        <!--<div class="modal-dialog login animated">-->
          <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
              <!--<h4 class="modal-title">Connectez-vous avec : </h4>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
              <!--<div class="box">-->
                <!--<div class="content">-->
                  <!--<div class="social">-->
                    <!--<a class="circle github" href="/auth/github">-->
                      <!--<i class="fa fa-github fa-fw"></i>-->
                    <!--</a>-->
                    <!--<a id="google_login" class="circle google" href="/auth/google_oauth2">-->
                      <!--<i class="fa fa-google-plus fa-fw"></i>-->
                    <!--</a>-->
                    <!--<a id="facebook_login" class="circle facebook" href="/auth/facebook">-->
                      <!--<i class="fa fa-facebook fa-fw"></i>-->
                    <!--</a>-->
                  <!--</div>-->
                  <!--<div class="division">-->
                    <!--<div class="line l"></div>-->
                    <!--<span>or</span>-->
                    <!--<div class="line r"></div>-->
                  <!--</div>-->
                  <!--<div class="error"></div>-->
                  <!--<div class="form loginBox p-2">-->
                    <!--<form #f1="ngForm" (ngSubmit)="login(f1.value)">-->
                      <!--<div class="form-group">-->
                        <!--<div class="">-->
                          <!--<input id="email0" type="email" class="form-control" name="email0"  placeholder="Email" required ngModel autofocus>-->
                        <!--</div>-->
                      <!--</div>-->

                      <!--<div class="form-group">-->
                        <!--<div class="">-->
                          <!--<input id="password0" type="password" class="form-control" name="password0" placeholder="Mot de passe" ngModel required>-->
                        <!--</div>-->
                      <!--</div>-->

                      <!--<div class="form-group">-->
                        <!--<div class="pl-5">-->
                          <!--<div class="checkbox">-->
                            <!--<label>-->
                              <!--<input type="checkbox" name="remember"> Remember Me-->
                            <!--</label>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->

                      <!--<div class="form-group">-->
                        <!--<div class="">-->
                          <!--<button class="btn btn-default btn-login" type="submit" >Se connecter</button>-->

                          <!--<a class="btn btn-link" href="#">-->
                            <!--Mot de passe oublié?-->
                          <!--</a>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</form>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="box">-->
                <!--<div class="content registerBox" style="display:none;">-->
                  <!--<div class="form" >-->
                    <!--<form  #f2="ngForm" (ngSubmit)="register(f2.value)" >-->

                      <!--<div class="form-group">-->
                        <!--<div class="">-->
                          <!--<input id="name" type="text" class="form-control" name="nom" value="" ngModel placeholder="Nom" required autofocus>-->
                        <!--</div>-->
                      <!--</div>-->

                      <!--<div class="form-group">-->
                        <!--<div class="">-->
                          <!--<input id="prenom" type="text" class="form-control" name="prenom" value="" ngModel placeholder="Prénom" required autofocus>-->
                        <!--</div>-->
                      <!--</div>-->

                      <!--<div class="form-group">-->
                        <!--<div class="">-->
                          <!--<input id="email1" type="email" class="form-control" name="email1" value="" ngModel placeholder="Email" required>-->
                        <!--</div>-->
                      <!--</div>-->

                      <!--<div class="form-group">-->
                        <!--<div class="">-->
                          <!--<input id="password1" type="password" class="form-control" name="password1" ngModel  placeholder="Mot de passe" required>-->
                        <!--</div>-->
                      <!--</div>-->

                      <!--<div class="form-group">-->
                        <!--<div class="">-->
                          <!--<input id="password-confirm" type="password" class="form-control" name="password_confirmation" placeholder="Confirmer mot de passe" required>-->
                        <!--</div>-->
                      <!--</div>-->


                      <!--<div class="form-group">-->
                        <!--<div class="">-->
                          <!--<input id="tel" type="number" class="form-control" name="tel" value="" ngModel placeholder="Tel" required>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="form-group">-->
                        <!--<div class="">-->
                          <!--<input id="datenaiss" type="date" class="form-control" name="Date" value="" ngModel placeholder="Date de naissance" required>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="form-group">-->
                        <!--<div class="">-->
                          <!--<button class="btn btn-default btn-login" type="submit" >S'inscrire</button>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</form>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
              <!--<div class="forgot login-footer">-->
                            <!--<span>Vous cherchez à-->
                                 <!--<a href="javascript: showRegisterForm();">Crer un compte</a>-->
                            <!--?</span>-->
              <!--</div>-->
              <!--<div class="forgot register-footer" style="display:none">-->
                <!--<span>Vous avez déjà un compte?</span>-->
                <!--<a href="javascript: showLoginForm();">S'identifier</a>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="right-side-cart-area">-->

  <!--&lt;!&ndash; Cart Button &ndash;&gt;-->
  <!--<div class="cart-button">-->
    <!--<a href="#" id="rightSideCart"><i class="fa fa-cart-arrow-down fa-2x"></i> <span>3</span></a>-->
  <!--</div>-->

  <!--<div class="cart-content d-flex">-->

    <!--&lt;!&ndash; Cart List Area &ndash;&gt;-->
    <!--<div class="cart-list">-->
      <!--&lt;!&ndash; Single Cart Item &ndash;&gt;-->
      <!--<div class="single-cart-item">-->
        <!--<a href="#" class="product-image">-->
          <!--<img src="../../../assets/img/product-img/product-1.jpg" class="cart-thumb" alt="">-->
          <!--&lt;!&ndash; Cart Item Desc &ndash;&gt;-->
          <!--<div class="cart-item-desc">-->
            <!--<span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>-->
            <!--<span class="badge">Mango</span>-->
            <!--<h6>Button Through Strap Mini Dress</h6>-->
            <!--<p class="size">Size: S</p>-->
            <!--<p class="color">Color: Red</p>-->
            <!--<p class="price">$45.00</p>-->
          <!--</div>-->
        <!--</a>-->
      <!--</div>-->

      <!--&lt;!&ndash; Single Cart Item &ndash;&gt;-->
      <!--<div class="single-cart-item">-->
        <!--<a href="#" class="product-image">-->
          <!--<img src="../../../assets/img/product-img/product-2.jpg" class="cart-thumb" alt="">-->
          <!--&lt;!&ndash; Cart Item Desc &ndash;&gt;-->
          <!--<div class="cart-item-desc">-->
            <!--<span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>-->
            <!--<span class="badge">Mango</span>-->
            <!--<h6>Button Through Strap Mini Dress</h6>-->
            <!--<p class="size">Size: S</p>-->
            <!--<p class="color">Color: Red</p>-->
            <!--<p class="price">$45.00</p>-->
          <!--</div>-->
        <!--</a>-->
      <!--</div>-->

      <!--&lt;!&ndash; Single Cart Item &ndash;&gt;-->
      <!--<div class="single-cart-item">-->
        <!--<a href="#" class="product-image">-->
          <!--<img src="../../../assets/img/product-img/product-3.jpg" class="cart-thumb" alt="">-->
          <!--&lt;!&ndash; Cart Item Desc &ndash;&gt;-->
          <!--<div class="cart-item-desc">-->
            <!--<span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>-->
            <!--<span class="badge">Mango</span>-->
            <!--<h6>Button Through Strap Mini Dress</h6>-->
            <!--<p class="size">Size: S</p>-->
            <!--<p class="color">Color: Red</p>-->
            <!--<p class="price">$45.00</p>-->
          <!--</div>-->
        <!--</a>-->
      <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Cart Summary &ndash;&gt;-->
    <!--<div class="cart-amount-summary">-->

      <!--<h2>Summary</h2>-->
      <!--<ul class="summary-table">-->
        <!--<li><span>subtotal:</span> <span>$274.00</span></li>-->
        <!--<li><span>delivery:</span> <span>Free</span></li>-->
        <!--<li><span>discount:</span> <span>-15%</span></li>-->
        <!--<li><span>total:</span> <span>$232.00</span></li>-->
      <!--</ul>-->
      <!--<div class="checkout-btn mt-100">-->
        <!--<a href="checkout.html" class="btn essence-btn">Voir </a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!-- ##### Right Side Cart End ##### -->


<div class="contact-area d-flex align-items-center">

  <div class="google-map">
    <div id="googleMap"></div>
  </div>

  <div class="contact-info">
    <h2>Comment nous trouver</h2>
    <p>Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna vehicula, nec maximus est sollicitudin.</p>

    <div class="contact-address mt-50">
      <img src="../../../assets/img/core-img/COORDONNÉES-TOORKEE.png" alt="" style="">
      <p><a href="#">contact@toorkeedesign.com</a></p>
    </div>
  </div>

</div>
