  <!-- ##### Right Side Cart Area ##### -->
<div class="usercart-bg-overlay"></div>

<!-- ##### Right Side Cart Area ##### -->
<div class="cart-bg-overlay"></div>

<div class="user-side-cart-area">

  <!-- Cart Button -->
  <div class="cart-button">
    <a href="#" id="userSideCart"><i class="fa fa-user-o fa-2x"></i></a>
  </div>

  <div class="cart-content d-flex">

    <!-- Cart Summary -->
    <div class="cart-amount-summary">
      <div class="login" id="loginModal">
        <div class="modal-dialog login animated">
          <div class="modal-content">
            <div class="modal-body">
              <div class="box">
                <div class="content">
                  <div class="row social">
                    <div class="col-2">
                      <a class="" href="#">
                        <i class="fa fa-user fa-3x"></i>
                      </a>
                    </div>
                    <div class="col-2">
                                            <span class="badge" style="font-size: 15px">
                                                Abdoulaye kane
                                            </span>
                    </div>
                  </div>
                  <div class="division">
                    <div class="line l"></div>
                    <span>?</span>
                    <div class="line r"></div>
                    <div class="form loginBox p-2">
                      <div class="social">
                        <a class="" href="#">
                          <i class="fa fa-sign-out fa-5x"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box">
                <div class="content registerBox" style="display:none;">
                  <div class="form">
                    <form onSubmit="return validation(this)" role="form" class="form-horizontal" method="POST">
                      <div class="form-group">
                        <div class="">
                          <input id="password" type="password" class="form-control" name="password" placeholder="Mot de passe" required>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="">
                          <input id="password-confirm" type="password" class="form-control" name="password_confirmation" placeholder="Confirmer mot de passe" required>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="">
                          <button class="btn btn-default btn-login" type="submit" >Modifier</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="forgot login-footer">
                            <span>Vous cherchez à
                                 <a href="javascript: showRegisterForm();">Changer de mot de passee</a>
                            ?</span>
              </div>
              <div class="forgot register-footer" style="display:none">
                <span>Vous voulez déjà nous quitter??</span>
                <a href="javascript: showLoginForm();">Se deconnecterr</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="right-side-cart-area">

  <!-- Cart Button -->
  <div class="cart-button">
    <a href="#" id="rightSideCart"><i class="fa fa-cart-arrow-down fa-2x"></i> <span>3</span></a>
  </div>

  <div class="cart-content d-flex">

    <!-- Cart List Area -->
    <div class="cart-list">
      <!-- Single Cart Item -->
      <div class="single-cart-item">
        <a href="#" class="product-image">
          <img src="../../../assets/img/product-img/product-1.jpg" class="cart-thumb" alt="">
          <!-- Cart Item Desc -->
          <div class="cart-item-desc">
            <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
            <span class="badge">Mango</span>
            <h6>Button Through Strap Mini Dress</h6>
            <p class="size">Size: S</p>
            <p class="color">Color: Red</p>
            <p class="price">$45.00</p>
          </div>
        </a>
      </div>

      <!-- Single Cart Item -->
      <div class="single-cart-item">
        <a href="#" class="product-image">
          <img src="../../../assets/img/product-img/product-2.jpg" class="cart-thumb" alt="">
          <!-- Cart Item Desc -->
          <div class="cart-item-desc">
            <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
            <span class="badge">Mango</span>
            <h6>Button Through Strap Mini Dress</h6>
            <p class="size">Size: S</p>
            <p class="color">Color: Red</p>
            <p class="price">$45.00</p>
          </div>
        </a>
      </div>

      <!-- Single Cart Item -->
      <div class="single-cart-item">
        <a href="#" class="product-image">
          <img src="../../../assets/img/product-img/product-3.jpg" class="cart-thumb" alt="">
          <!-- Cart Item Desc -->
          <div class="cart-item-desc">
            <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
            <span class="badge">Mango</span>
            <h6>Button Through Strap Mini Dress</h6>
            <p class="size">Size: S</p>
            <p class="color">Color: Red</p>
            <p class="price">$45.00</p>
          </div>
        </a>
      </div>
    </div>

    <!-- Cart Summary -->
    <div class="cart-amount-summary">

      <h2>Summary</h2>
      <ul class="summary-table">
        <li><span>subtotal:</span> <span>$274.00</span></li>
        <li><span>delivery:</span> <span>Free</span></li>
        <li><span>discount:</span> <span>-15%</span></li>
        <li><span>total:</span> <span>$232.00</span></li>
      </ul>
      <div class="checkout-btn mt-100">
        <a href="#" class="btn essence-btn">Voir </a>
      </div>
    </div>
  </div>
</div>
<!-- ##### Right Side Cart End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb_area bg-img" style="background-image: url(../../../assets/img/bg-img/undercol.jpg);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="page-title text-center">
          <h2>S'habiller</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Shop Grid Area Start ##### -->
<section class="shop_grid_area section-padding-80 ">
  <div class="container">
    <div class="row yaram">

      <div class="col-12 col-md-8 col-lg-9 ">
        <div class="wrapper" >
          <form action="" id="wizard">
            <!-- SECTION 1 -->
            <h4></h4>
            <section>
              <h3>Basic details</h3>
              <div class="form-row">
                <div class="form-holder">
                  <i class="zmdi zmdi-account"></i>
                  <input type="text" class="form-control" placeholder="First Name">
                </div>
                <div class="form-holder">
                  <i class="zmdi zmdi-account"></i>
                  <input type="text" class="form-control" placeholder="Last Name">
                </div>
              </div>
              <div class="form-row">
                <div class="form-holder">
                  <i class="zmdi zmdi-email"></i>
                  <input type="text" class="form-control" placeholder="Email ID">
                </div>
                <div class="form-holder">
                  <i class="zmdi zmdi-account-box-o"></i>
                  <input type="text" class="form-control" placeholder="Your User ID">
                </div>
              </div>
              <div class="form-row">
                <div class="form-holder">
                  <i class="zmdi zmdi-map"></i>
                  <input type="text" class="form-control" placeholder="Country">
                </div>
              </div>
              <div class="form-row">
                <div class="form-holder">
                  <i class="zmdi zmdi-smartphone-android"></i>
                  <input type="text" class="form-control" placeholder="Phone Number">
                </div>
                <div class="form-holder password">
                  <i class="zmdi zmdi-eye"></i>
                  <input type="password" class="form-control" placeholder="Reference Coder">
                </div>
              </div>
            </section>

            <!-- SECTION 2 -->
            <h4></h4>
            <section>
              <h3>Password change</h3>
              <div class="form-row">
                <div class="form-holder w-100">
                  <input type="password" class="form-control" placeholder="Current Password">
                  <i class="zmdi zmdi-lock-open"></i>
                </div>
              </div>
              <div class="form-row">
                <div class="form-holder w-100">
                  <input type="password" class="form-control" placeholder="Enter the Current Password">
                  <i class="zmdi zmdi-lock-open"></i>
                </div>
              </div>
              <div class="form-row">
                <div class="form-holder w-100">
                  <input type="password" class="form-control" placeholder="New Password">
                  <i class="zmdi zmdi-lock-open"></i>
                </div>
              </div>
              <div class="form-row">
                <div class="form-holder w-100">
                  <input type="password" class="form-control" placeholder="Confirm New Password">
                  <i class="zmdi zmdi-lock-open"></i>
                </div>
              </div>
            </section>

            <!-- SECTION 3 -->
            <h4></h4>
            <section>
              <h3 style="margin-bottom: 16px;">My Cart</h3>
              <table cellspacing="0" class="table-cart shop_table shop_table_responsive cart woocommerce-cart-form__contents table" id="shop_table">
                <thead>
                <th >&nbsp;</th>
                <th style="text-align: left;">Product Detail</th>
                <th >Quantity</th>
                <th >Total Price</th>
                <th >&nbsp;</th>
                </thead>
                <tbody>
                <tr>
                  <td class="product-thumb">
                    <a href="#" class="item-thumb">
                      <img src="../../../assets/images/item-1.jpg" alt="">
                    </a>
                  </td>
                  <td class="product-detail" data-title="Product Detail">
                    <div>
                      <a href="#">Cherry</a>
                      <span>$</span>
                      <span>35</span>
                    </div>
                  </td>
                  <td class="product-quantity" data-title="Quantity">
                    <div class="quantity">
                      <span class="plus">+</span>
                      <input type="number" id="quantity_5b" class="input-text qty text" step="1" min="0" max="" name="cart[5934c1ec0cd31e12bd9084d106bc2e32][qty]" value="1" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric" />
                      <span class="minus">-</span>
                    </div>
                  </td>
                  <td class="total-price" data-title="Total Price">
                                    <span class="woocommerce-Price-amount amount">
                                        <span class="woocommerce-Price-currencySymbol">$</span>
                                        70
                                    </span>
                  </td>
                  <td class="product-remove">
                    <a href="#">
                      <i class="zmdi zmdi-close-circle-o"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="product-thumb">
                    <a href="#" class="item-thumb">
                      <img src="../../../assets/images/item-2.jpg" alt="">
                    </a>
                  </td>
                  <td class="product-detail" data-title="Product Detail">
                    <div>
                      <a href="#">Mango</a>
                      <span>$</span>
                      <span>2035</span>
                    </div>
                  </td>
                  <td class="product-quantity" data-title="Quantity">
                    <div class="quantity">
                      <span class="plus">+</span>
                      <input type="number" id="quantity_5b4f198" class="input-text qty text" step="1" min="0" max="" name="cart[5934c1ec0cd31e12bd9084d106bc2e32][qty]" value="1" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric" />
                      <span class="minus">-</span>
                    </div>
                  </td>
                  <td class="total-price" data-title="Total Price">
                                    <span class="woocommerce-Price-amount amount">
                                        <span class="woocommerce-Price-currencySymbol">$</span>
                                        20
                                    </span>
                  </td>
                  <td class="product-remove">
                    <a href="#">
                      <i class="zmdi zmdi-close-circle-o"></i>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </section>

            <!-- SECTION 4 -->
            <h4></h4>
            <section>
              <h3>Cart Totals</h3>
              <div class="cart_totals">
                <table cellspacing="0" class="shop_table shop_table_responsive">
                  <tr class="cart-subtotal">
                    <th>Subtotal</th>
                    <td data-title="Subtotal">
                                    <span class="woocommerce-Price-amount amount">
                                        <span class="woocommerce-Price-currencySymbol">$</span>110.00
                                    </span>
                    </td>
                  </tr>
                  <tr class="cart-subtotal shipping">
                    <th>Shipping:</th>
                    <td data-title="Subtotal">
                      <div class="checkbox">
                        <label>
                          <input type="radio" name="shipping" checked> Free Shipping
                          <span class="checkmark"></span>
                        </label>
                        <label>
                          <input type="radio" name="shipping"> Local pickup: <span>$</span><span>0.00</span>
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <span>Calculate shipping</span>
                    </td>
                  </tr>
                  <tr class="cart-subtotal">
                    <th>Service <span>(estimated for Vietnam)</span></th>
                    <td data-title="Subtotal">
                                    <span class="woocommerce-Price-amount amount">
                                        <span class="woocommerce-Price-currencySymbol">$</span>5.60
                                    </span>
                    </td>
                  </tr>
                  <tr class="order-total border-0">
                    <th>Total</th>
                    <td data-title="Total">
                                    <span class="woocommerce-Price-amount amount">
                                        <span class="woocommerce-Price-currencySymbol">$</span>64.69
                                    </span>
                    </td>
                  </tr>
                </table>
              </div>

            </section>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Shop Grid Area End ##### -->
