<footer class="footer_area clearfix">
  <div class="container">
    <div class="row">
      <!-- Single Widget Area -->
      <div class="col-12 col-md-6">
        <div class="single_widget_area d-flex mb-30">
          <!-- Logo -->
          <div class="footer-logo mr-50">
            <a onclick="location.reload()" routerLink="/auth" href="#"><img src="../../../assets/img/core-img/Logo-TOORKEE-BLANC.png" alt=""></a>
          </div>
          <!-- Footer Menu -->
          <div class="footer_menu " style="margin-top: 25px">
            <ul>
              <li><a *ngIf="show" onclick="location.reload()" routerLink="/shop" href="#">Showroom</a></li>ok93

              <li><a *ngIf="!show" id="userCartBtn2" href="#">Showroom</a></li>ok93

              <li><a onclick="location.reload()" routerLink="/contact" href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Single Widget Area -->
      <div class="col-12 col-md-6">
        <div class="single_widget_area mb-30">
          <ul class="footer_widget_menu" style="margin-top: 28px">
            <li><a href="#">Order Status</a></li>
            <li><a href="#">Payment Options</a></li>
            <li><a href="#">Shipping and Delivery</a></li>
            <li><a href="#">Guides</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row align-items-end">
      <!-- Single Widget Area -->
      <!-- Single Widget Area -->
      <div class="col-12 col-md-6">
        <div class="single_widget_area">
          <div class="footer_social_area">
            <a target="_blank" href="https://www.facebook.com/Toorkeedesign-226204351611601/" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12 text-center">
        <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | by <a href="" target="_blank">B-smart</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>

  </div>
</footer>